body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  margin: 0;
  padding: 40px; }

.cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.logo-container img {
  max-width: 200px;
  margin-bottom: 20px; }

.title-container {
  text-align: center; }
  .title-container h1 {
    color: #1976D2;
    font-size: 2.5em;
    margin: 0; }
  .title-container p {
    color: #673AB7;
    font-size: 1.5em;
    margin-top: 10px; }

.author-container {
  margin-top: 50px; }
  .author-container p {
    font-size: 1.2em;
    color: #212121; }
