/*body {
#    font-family: 'Roboto', sans-serif;
#    background-color: #609da7;
#    color: #212121;
#    margin: 0;
#    padding: 4px; 
#}
*/

.md-header {
    background-color: #14154d;
    box-shadow: 0 0 .2rem #0000,0 .2rem .4rem #0000;
    color: var(--md-primary-bg-color);
    display: block;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4;
}

.md-nav__title,
.md-footer-nav__title {
    color: var(--md-primary-fg-color);
}

.md-footer {
    background-color: var(--md-accent-fg-color);
    color: #2dc42d;
}

.md-footer a {
    color: #fff;
}

.md-nav__link--active {
    background-color: var(--md-accent-fg-color);
    color: #fff;
}
