
.pdf-body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #3f51b5; /* Indigo, entsprechend Ihrer Palette */
  }
  
  a {
    color: #172e35; /* Dunkleres Indigo für Links */
  }
  
  /* Passen Sie weitere Elemente nach Bedarf an */
  